{#- Global/default-VRF BGP: router-id + global networks + iBGP to the other core. -#}
{#- Rendered per switch.  Context vars:                                           -#}
{#-   this_switch  : this core's switch dict (host_vars)                           -#}
{#-   peer_switch  : the other core's switch dict (for the iBGP neighbor loopback) -#}
{#-   bgp / vrfs   : from vars/bgp.yml and vars/vrfs.yml                            -#}
!
feature bgp
!
! ===== Global BGP (iBGP between cores) =====
router bgp {{ bgp.asn }}
  router-id {{ this_switch.loopback0.ip }}
  address-family ipv4 unicast
{% for net in bgp.global_networks %}
    network {{ net }}
{% endfor %}
  ! iBGP to the other core, peering on loopback0 (global table)
  neighbor {{ peer_switch.loopback0.ip }}
    remote-as {{ bgp.asn }}
    description iBGP-to-{{ peer_switch.name }}
    update-source {{ bgp.ibgp.update_source }}
    address-family ipv4 unicast
{% if bgp.ibgp.next_hop_self %}
      next-hop-self
{% endif %}
